.number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number .counter{
    color: white;
    font-weight: 400;
}

.number >.flexCenter {
    gap: 0.1rem;
}

.number .flexCenter > span{
    font-size: 2rem;
    font-weight: 400;
}

@media (max-width : 1200px){
    .number{
        max-width: 120px;
        text-align: center;
    }
    .number .counter{
        font-size: 1.8rem !important;
    }
}

@media (max-width : 450px){

    .number .counter{
        font-size: 1.3rem !important;
    }
    .number > .flexCenter > span {
        font-size: 1rem;
    }

    .number > span{
        font-size:.7rem;
    }
}