.hero-wrapper{
    background-color: #131110;
    padding-bottom: 4rem;
}

.hero-wrapper .container{
    justify-content: space-between;
    width: 75%;
}

/* Left Side */

.leftSide{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    position: relative;
    margin-top: 3rem;
}
.title{
    z-index: 1;
}

.title > p {
  color: white;
  font-weight: 600;
  font-size: 4rem;
  line-height: 5rem;
}

.title::before{
    content: '';
    width: 4rem;
    height: 4rem;
    background: var( --orange-gradient);
    position: relative;
    top: -0.6rem;
    right: 33%;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

.searchBar{
    background-color: white;
    height: 3rem;
    width: 28rem;
    justify-content: space-between;
    border-radius: 4px;
    border: 3px solid var(--mainColor);
    padding: 1.8rem 1rem;
}

.searchBar > input{
    border: none;
    outline: none;
    height: 2rem;
    width: 60%;
    font-weight: 300;
    font-size: 1.2rem;
}

.numbers{
    gap: 1.2rem;
}

.mainText{
    max-width:  30rem;
}

/* Right Side */

.rightSide{
    margin-top: 4.5rem;
}

.rightSide .imageContainer > img{
    width: 100%;
    object-fit: center;
    margin: auto;
    position: absolute;
    top: -100px;
}

/* Responsive */

@media (max-width : 1400px){
    .hero-wrapper .container{
        width: 90%;
    }
}

@media (max-width: 1200px){
    .rightSide .imageContainer{
        width: 25rem;
        height: 30rem;
    }

    .leftSide{
        gap: 1.5rem;
        margin-top: 80px;
    }
    .leftSide > .title > p {
        font-size: 3rem;
        line-height: 3.8rem;
    }

    .title::before{
        width: 3rem;
        height: 3rem;
        left: 40%;
    }

    .searchBar{
        width: 24rem;
        padding: 1.7rem 1rem;
    }
    
    .searchBar > button {
        height: 2.3rem;
    }

    .mainText{
        max-width:  25rem;
    }

}

@media (max-width : 1000px){
    .rightSide{
        display: none;
    }

    .hero-wrapper .container{
        align-items: center;
        justify-content: center;
    }
}

@media (max-width : 450px){
    .hero-wrapper .container{
        width: 90%;
    }

    .leftSide > .title > p {
        font-size: 2rem;
        line-height: 2.5rem;
        z-index: 10;
    }

    .title::before{
        width: 2rem;
        height: 2rem;
        left: 38%;
        top: -5px;
    }

    .text > .mainText{
        font-size: .8rem;
    }

    .searchBar{
        display:none !important; 
    }

    .numbers{
        display: none !important;
    }

}