.c-wrapper {
  margin-top: 5rem;
}

.c-wrapper > .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Left Side */
.c-leftSide {
  padding: 2rem 2rem 0 3rem ;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.c-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 600px;
}

.cols-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.8rem;
}

.col-container {
  height: 9rem;
  width: 17rem;
  border: 0.8px solid rgba(128, 128, 128, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  gap: 1rem;
  border-radius: 4px;
  transition: 0.3s ease-in;
}

.col-container:hover {
  transform: scale(1.1);
  box-shadow: var(--shadow);
}

.col-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.col-title {
  font-weight: 800;
  color: var(--primaryColor);
}

.col-icon {
  height: 3rem;
  width: 2.8rem;
  background-color: var(--lightBlue);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primaryColor);
}

.top-side {
  margin-top: 0.5rem;
  gap: 1rem;
}

.col-button {
  margin-bottom: 0.5rem;
  background: var(--lightBlue) !important;
  color: var(--primaryColor) !important;
}

.col-button:hover {
  scale: 0.8;
  color: white !important;
  background: rgb(54, 152, 166) !important;
  background: linear-gradient(
    106deg,
    rgba(54, 152, 166, 1) 0%,
    rgba(122, 203, 165, 1) 100%
  ) !important;
}

/* Right Side */
.c-rightSide {
  padding: 2rem 2rem 0 2rem ;
}

.col-imageContainer > img {
  height: 100%;
  width: 100%;
}

/* Responsive */
@media (max-width : 1200px){
  .c-wrapper {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .c-wrapper .container{
    width: 90%;
  }
  .c-wrapper > .container{
    display: flex;
    flex-wrap: wrap;
  }
  
  .c-wrapper .c-rightSide{
    display: none;
  }

  .c-leftSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .c-leftSide > .c-text{
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .c-text > .secondaryText{
    font-size: 1.4rem;
  }
  .c-text > .primaryText{
    font-size: 1.7rem;
  }

  .c-text .mainText {
    display: none;
  }

  .c-leftSide .mainText{
    text-align: center;
  }

  .cols-container > :nth-child(2){
    display: none;
  }
  .cols-container > :nth-child(3){
    display: none;
  }
}