.c-wrapper > .container {
  display: flex;
  gap: 8rem;
}

/* Left Side */
.c-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.col-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.col-icon {
  height: 3rem;
  width: 2.8rem;
  background-color: var(--lightBlue);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primaryColor);
}

.col-container {
  height: 8rem;
  width: 15rem;
  border: 1px solid #787878 ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:1.5rem;
  gap: 1rem;
  border-radius: 4px;
}

.top-side{
    margin-top: 0.5rem;
}